@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    background-image: url("../assets/grey.png");
    height: 100vh;
}

.wrap{
    display: block;
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 15px 25px;
    -webkit-box-shadow: 1px 2px 3px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 2px 3px -1px rgba(0,0,0,0.4);
    box-shadow: 1px 2px 3px -1px rgba(0,0,0,0.4);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.title, .text, form{
    display: flex;
    justify-content:flex-start;
}
h1 { 
    color: #000;
    font-size: 3.6em;
    line-height: 1.6em;

  }
  
  h2 {
    font-size: 1.0em;
    line-height: 1.55em;
    margin-bottom: 4px;
    color: black
  }
  
  p {
    font-size: 1.0em;
    line-height: 1.55em;
    margin-top: -12px;
    margin-bottom: 12px;

  }

  #gitfield{
    display: block;
    padding: 5px 8px;
    font-size: 1.0em;
    color: #666;
    width: 550px;
    margin-bottom: 15px;
    height: 40px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px ;
    border: 2px solid black;
  }

  #gitFieldBtn{
    display: inline-block;
    padding: 8px 18px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
    height: 40px;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    border: 1px solid #000;

  }

  #gitFieldBtn:hover{
  background-color: rgb(255, 255, 255)(102, 102, 102, 0.651);
  }

  #gitFieldBtn:active{
    
  }

  
#gitdata {
    display: block;
    padding: 25px 0;
  }

  #avatar{
    border-radius: 50%;
    padding:10px;
    margin-top:-25px

  }

  #uname{
    display: flex;
    margin-left: 120px;
    text-decoration: none;
    color: gray;
    font-size: 18px;
    margin-top:10px;
  }
  a{
    text-decoration: none;
    color: gray;
  }

  #info{

    display: flex;
    margin-left: 120px;
    margin-top: -55px;

  }
  
  #loader {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

   ul {
    font-size: 1.2em;
  }
   ul li {
    display: block;
  }
   ul li a {
    font-weight: medium;
    font-size: 12px;
    padding: 6px 9px;
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    background-color: black;

  }
   ul li a:hover {

  }

  
   ul li a span {
    font-family: "Courier New", Courier, "Lucida Typewriter", monospace;
    font-size: 0.9em;
  }



.gitfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.gitfix { display: inline-block; }
 
html[xmlns] .gitfix { display: block; }
* html .gitfix { height: 1%; }

@media (max-width: 750px) {
  h1{
    font-size:3.0rem;
    line-height: 1.6em;
    padding-bottom: 5px;
  }
  #gitfield{
    width: 200px;
    margin-left:2px;
    position:relative;
  }
  #gitFieldBtn{
    padding: 4px 14px;

  }
}